.service {
    .content-traffic-light {
        margin-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        border: 1px $gray-dark solid;

        & > div {
            height: 10px;
            width: 16.66%;
        }

        .red,.yellow,.green {
            background-color: #c0c0c0;
        }

        .border-right {
            border-right: 1px $gray-dark solid;
        }

        .red.active {
            background-color: $red;
        }

        .yellow.active {
            background-color: $yellow;
        }

        .green.active {
            background-color: $green;
        }
    }
}
