.service {
    table tbody td {
        padding: 5px 0 !important;
    }
    .widget {
        margin-bottom: 0px;
    }
}

.content-traffic-light {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px $gray-dark solid;

    & > div {
        height: 10px;
        width: 16.66%;
    }

    .red,.yellow,.green {
        background-color: #c0c0c0;
    }

    .border-right {
        border-right: 1px $gray-dark solid !important;
    }

    .red.active {
        background-color: $red;
    }

    .yellow.active {
        background-color: $yellow;
    }

    .green.active {
        background-color: $green;
    }

    &__head {
        padding: 20px 0 0 0;
        font-size: 25px;
        font-weight: bold;
        color: $blue;
    }
}

.service-detail {

    color: $gray-light2;

    h1 {
        font-size: 25px !important;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 20px !important;
        text-transform: capitalize;
    }

    h3 {
        font-size: 18px !important;
        text-transform: capitalize;
    }

    .title {
        strong {
            color: $blue-dark;
        }
    }

    &__table {
        thead th {
            color: $black;
            font-size: 12px !important;
            background-color: $blue-light;
        }
        tbody td {
            padding: 10px 5px !important;
            font-size: 13px !important;
        }

        td.item {
            font-weight: bold;
            text-align: center;
        }

        ul > li {
            font-style: oblique;
            font-size: 13px;
        }

        .action {
            width: auto !important;
        }
    }

    .content-obsevarvations {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
